In [2]:
a =10
if a == 11:
     print("this is my first condition")

In [3]:
a = 10
if a>5:
    pass

In [4]:
a = 10
if a<8:
    print("print this if condition is true")

In [6]:
a = 10
if a == 11:
    print("my condition if false")
else :
    print("print this")

print this

In [10]:
a = 10
if a == 12:
    print("here we are trying to compare 10 with 12")
elif a ==11:
     print("we are trying to compare 10 with 11")
else:
     print("if all the blocks wil fail then do this")

if all the blocks wil fail then do this

In [11]:
price = 500
if price>500:
    print("may be i wont be able to buy a jacket")
elif price<500:
    print("i will be able to buy a jacket")
elif price == 500:
    print("for sure i eill be able to buy")
else :
    print("i dont know")

for sure i eill be able to buy

In [12]:
price>500

False

In [13]:
price<500

False

In [16]:
price ==500

True

In [17]:
l =[1,2,3,4,5,6,7]
2 in l

True

In [18]:
if 2 in l:
    print("try to perform a task")
else:
    print("do not perform this task")

try to perform a task

In [19]:
l

[1, 2, 3, 4, 5, 6, 7]

In [20]:
  if 10 in l :
    print ("try to do a addition")
elif 2 in l :
    print("try to do sub")
elif 3 in l :
    print("try to do mul")
if 4 in l:
    print("this is new statement")

try to do sub
this is new statement

In [21]:
a = 400

In [28]:
b = int(input())

35

In [26]:
b

'400'

In [29]:
type(b)

int

In [46]:
price = int(input())
if price <500 :
    print("i will be to able to buy somthing")
    if price < 400:
       print("i will be able to buy a jacket")
    elif price < 300:
        print("i will be able to buy a shirt")
        if price < 200 :
            print("i would like to do somthing")
    else :
        print("i wont be able to buy anything")
else :
    print("i wont be able to buy anthing with this price tag")
    if price >500:
        print("lets try somthing else")

600
i wont be able to buy anthing with this price tag
lets try somthing else

In [55]:
val = float (input("enter a floting point number"))
if val >= 0:
    if val == 0:
        print("entered value is zero")
    else :
        print("enter value is positive number")
else :
        print("entered number is a negative number")

enter a floting point number324
enter value is positive number

In [56]:
a = 10
if a <10 and a == 10:
    print("try to do sothing")

In [57]:
a = "sudh"
if a == "sudh" or a == "sudh":
    print("this is sudh")

this is sudh

In [58]:
a = 10
b = 11
c = 12
d = 13
if a == 9 or b == 11 and c == 12 and d == 13:
    print("lets do somthing")

lets do somthing

In [59]:
d = {'key1':"value","key2":"sudh","key3":"ineuron"}

In [60]:
if d["key1"] == "value" and d['key2'] == "sudh" and d['key3'] == "ineuron":
    print("all the values are varified")
    print(d.values())
else :
    print("all the values are not verifide")

all the values are varified
dict_values(['value', 'sudh', 'ineuron'])

In [62]:
d['key1']

'value'

In [63]:
l = [1,2,3,4,5,6,"sudh",234.56]

In [64]:
l[0]

1

In [65]:
l[1]

2

In [66]:
l[2:5]

[3, 4, 5]

In [67]:
l

[1, 2, 3, 4, 5, 6, 'sudh', 234.56]

In [68]:
for i in l:
    print(i)

1
2
3
4
5
6
sudh
234.56

In [69]:
l

[1, 2, 3, 4, 5, 6, 'sudh', 234.56]

In [84]:
for i in l:
    if type(i) == int or type(i) == float:
        print(i+1)
    elif type(i) == str:
        print(i +str(l))

2
3
4
5
6
7
sudh[1, 2, 3, 4, 5, 6, 'sudh', 234.56]
235.56

In [5]:
a=[9,8,7,6,5,4,3]
for i in a :
    print(i)

9
8
7
6
5
4
3

In [6]:
a=[9,8,7,6,5,4,3,3]
for i in a :
    print(i)

9
8
7
6
5
4
3
3

In [8]:
i

3

In [11]:
l=[1,2,3,4,5,6,7,8,9]

In [12]:
l

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [13]:
l1 =[]
for i in l :
    if type(i) == int:
        l1.append(i)

In [14]:
l1

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [20]:
for i in l :
    if type(i) == int or type(i) == float:
        print(i+1)
    elif type(i) == str:
        print(i + str(i))

2
3
4
5
6
7
8
9
10

In [ ]:
l = [1,2,3,4,5,"car",5,6,7,8]
for i in l:
    if i.isnumeric():